header{
    margin-top: 50px;
}
body{
    background-color: rgb(221, 218, 15);
    margin-left: 30px;
    margin-right: 200px;
}
h1{
    color: tomato;
    font-family: fantasy;
}
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    font-size: 18px;
}
.imag_pad{
    margin-bottom: 20px;
}
footer{
    margin-bottom: 30px;
}